@media all {
  :local(.wrapper) {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    color: #ffffff;
    background-color: #000000;
  }
  :local(.title) {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-grow: 1;
    flex-grow: 1;

    font-family: 'PlayfairDisplay';
  }

  :local(.title h1) {
    font-size: 300%;
  }
  :local(.item) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  :local(.item:hover) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
